[Desktop Entry]
Type=Application
Terminal=false
Name=DLNA Downloader
Comment=Download media from DLNA-enabled devices
Icon=dlna-downloader
Exec=dlna-downloader
Categories=AudioVideo;
