[Desktop Entry]
Type=Application
Terminal=false
Name=DLNA Downloader
Comment=Download media from DLNA-enabled devices
Icon=${SNAP}/meta/gui/dlna-downloader.png
Exec=dlna-downloader
Categories=AudioVideo;
